---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$on-palm: 900px;
$on-laptop: 800px;

$base-text-colour: #333333;
$base-text-colour-secondary: #6f777b;
$base-font-family: helvetica, arial, sans-serif;
$base-text-size: 18px;
$base-text-size-subtext: 80%;
$base-text-size-code: 85%;
$base-background-colour: white;

$base-margin: 16px;
$small-page-margin: 20px;

$title-bar-text-colour: white;
$title-bar-text-size: 24px;
$title-bar-background-colour: #003a66;
$title-bar-background-accent: #005ea5;
$small-page-title-bar-margin: 0 20px $base-margin/2 20px;
$large-page-title-bar-margin: 0 auto $base-margin/2 auto;
$large-page-max-width: 700px;
$small-page-max-width: 100%;
$title-menu-text-size: 20px;
$title-logo-height: 64px;

$base-link-colour: #005ea5;
$base-link-hover: #2b8cc4;
$base-link-visited: #4c2c92;

$small-page-margin: $base-margin 20px $base-margin 20px;
$large-page-margin: $base-margin auto $base-margin auto;

$footer-border-colour: #eee;

$post-pre-background-colour: #eef;
$post-pre-border: 1px solid #ddd;

// Use media queries like this:
// @include media-query($on-palm) {
// .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "style",
    "syntax";