/*****************************************************************************/

/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html {
    // margin-right: calc(100% - 100vw);
    // overflow-x: hidden;
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: $base-background-colour;
    font-family: $base-font-family;
    color: $base-text-colour;
    font-size: $base-text-size; // line-height: 25px;
    line-height: 1.6em;
}

a {
    color: $base-link-colour;
    display: inline-block;
}

a:hover {
    color: $base-link-hover;
}

a:visited:hover {
    color: $base-link-hover;
}

a:visited {
    color: $base-link-visited;
}

/*****************************************************************************/

/*
/* Home
/*
/*****************************************************************************/

h1 {
    margin: .67em 0;
}

ul.posts {
    list-style-type: none;
    padding: 0;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: $base-text-colour-secondary;
    font-size: $base-text-size-subtext;
}

/*****************************************************************************/

/*
/* Site
/*
/*****************************************************************************/

.site {
    margin: $large-page-margin;
    max-width: $large-page-max-width;
}

.title-bar-background {
    background: #003a66;
    border-bottom: 10px solid $title-bar-background-accent;
    padding-top: $base-margin;
}

.title-bar {
    margin: $large-page-title-bar-margin;
    max-width: $large-page-max-width;
    display: flex;
    align-items: flex-end;
}

@include media-query($on-palm) {
    .site {
        margin: $small-page-margin;
        max-width: $small-page-max-width;
    }
    .title-bar {
        margin: $small-page-title-bar-margin;
    }
}

.title-bar a {
    color: $title-bar-text-colour;
    font-size: $title-bar-text-size;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 8px;
    padding-right: 5px;
}

.title-menu a {
    padding: 5px;
}

.title-menu a.active {
    background-color: $title-bar-background-accent;
}

.title-bar a:hover {
    text-decoration: underline;
    color: $title-bar-text-colour;
}

.title-menu a {
    font-size: $title-menu-text-size;
}

.title-logo img {
    height: $title-logo-height;
}

.title-logo a {
    display: flex;
}

.site .footer {
    font-size: $base-text-size-subtext;
    color: $base-text-colour-secondary;
    border-top: 4px solid $footer-border-colour;
    margin-top: 2em;
    overflow: hidden;
    padding-top: 10px;
    line-height: 20px;
}

.site .footer span {
    max-width: 50%;
}

.site .footer .contact {
    float: right;
    text-align: right;
}

/*****************************************************************************/

/*
/* Posts
/*
/*****************************************************************************/

.post-meta {
    color: $base-text-colour-secondary;
    font-size: $base-text-size-subtext;
    margin: 16px 0;
}

.post-meta p {
    margin: 8px 0;
}

.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
}

.post blockquote:first-of-type {
    line-height: 1em;
    font-size: 16px;
    margin: 0px;
    border: 4px solid #eee;
    padding: 8px;
}

.post ul,
.post ol {
    margin-left: 1.35em;
}

.post code {
    border: $post-pre-border;
    background-color: $post-pre-background-colour;
    font-size: $base-text-size-code;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

.post img {
    max-width: 100%;
    padding: 1em 0;
}