<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css" />

</head>

<body>

    <div class="title-bar-background">
        <div class="title-bar">
            <div class="title-logo">
                <a href="/">
                    <img src="/img/logo/short_white_512_189.png" />
                </a>
            </div>
            <div class="title-menu">
                <a class="extra {% if page.url == "/" %}active{% endif %}" href="/">home</a>
                <a class="extra {% if page.url == "/about/" %}active{% endif %}" href="/about">about</a>
            </div>
        </div>
    </div>
    <div class="site">

        {{ content }}

        <div class="footer">
            <span>
                Built with
                <a href="https://jekyllrb.com/">Jekyll</a>
            </span>
            <span class="contact">
                <a href="https://gitlab.com/nesbittj/nesbittj.gitlab.io">gitlab.com/nesbittj</a>
            </span>
            </br>
            <span>
                Hosted on
                <a href="https://gitlab.com/">gitlab.com</a>
            </span>
        </div>
    </div>

</body>

</html>