---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 160 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post">
  <h1 class="post-title p-name">{{ page.title }}</h1>
  <div class="post-meta">
    <p>
      <time class="date-published" datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: '%B %d %Y' }}</time>
    </p>
    <p>
      <span>{{ minutes }} minute read</span>
    </p>
  </div>
  {{ content }}
</div>